// colors
$color-background: #121b17;
$color-foreground: #b1c8c2;
$color-space-neg: #2c3531;
$color-space-pos: #116466;
$color-text: #f9e0cc;
$color-contrast-neg: #d9b08c;
$color-contrast-pos: #ffcb9a;
$color-highlight: #d1e8e2;

// css
body {
    background: $color-background;
    color: $color-text;
    margin: 0;
    line-height: 1.5em;
}

a {
  color: $color-contrast-pos;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $color-contrast-pos;
  }
  &.router-link-exact-active {
    color: $color-highlight;
  }
}

hr {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: -1em;
  margin-inline-end: -1em;
  border-color: $color-foreground;
}

h1 {
  color: $color-contrast-neg;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  line-height: 1.25em;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
}